.hh {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 70px;
  font-weight: 600;
  background-image: conic-gradient(#553c9a, #ee4b2b, #00c2cb);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
